<h1>My Bookshelf</h1>
<p>
  This is my bookshelf API, built using express (node) and mongoose (mongodb).
</p>
<p>
  To start using it go to: <a href="api/v1">api/v1</a>.<br/>
  Working with books: <a href="mybooks/#add/">mybooks</a>.
  <br/>
  <br/> Enjoy.
</p>
